@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

body {
  scroll-behavior: smooth;
  font-weight: 300;
  background-image: linear-gradient(
    90deg,
    rgba(26, 26, 26, 1) 0%,
    rgb(70, 70, 70) 50%,
    rgba(26, 26, 26, 1) 100%
  );
  background-repeat: no-repeat;
  color: white;
}
.p {
  font-weight: 400;
}

.card {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity)) /* #374151 */;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(26, 26, 26, 1);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    rgba(26, 26, 26, 1) 0%,
    rgb(95, 95, 95) 50%,
    rgba(26, 26, 26, 1) 100%
  );
  border-radius: 10px;
}

.rotations-container {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

.rotations-container.open {
  opacity: 1;
  max-height: 4500px; /* Adjust as needed */
}

.contents-container {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

.contents-container.open {
  opacity: 1;
  max-height: 500px; /* Adjust as needed */
}
.spinner {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border: 7px solid;
  border-radius: 50%;
  border-color: rgb(255, 255, 255) rgb(87, 87, 87) rgb(87, 87, 87)
    rgb(87, 87, 87);
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-down {
  animation: slideDown 0.5s ease-out forwards;
}
